.topicos {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    text-align: center;
    padding: 1rem 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.topicos__item {
    margin: 2rem 0.5rem;
}

.topicos__link {
    color: var(--branco);
    background-color: var(--laranja);
    padding: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

.tópicos__link:hover {
    color: var(--laranja);
    background-color: var(--branco);
    }

@media screen and (min-width: 1024px) {

    .topicos__titulo {
        font-size: 1.4rem;
    }
    
    .topicos__link {
        font-size: 1.5rem;
    }

    .topicos__lista {
        width: 70%;
        margin: auto;
    }

    .tópicos__link:hover {
        color: var(--laranja);
        background-color: var(--branco);
        }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 1rem 20vw 2.5rem 20vw;
    }

    .topicos__titulo {
        margin: 2rem auto 1rem auto;
        font-size: 2rem;
    }

    .tópicos__link:hover {
        color: var(--laranja);
        background-color: var(--branco);
        }
}